BEFORE THE HON'BLE {{ court_name }} AT {{ location }}

IN THE MATTER OF:
{{ plaintiff_name }} ... Plaintiff
VERSUS
{{ defendant_name }} ... Defendant

AFFIDAVIT

I, {{ plaintiff_name }}, son/daughter of {{ father_name }}, aged about {{ age }} years, resident of {{ address }}, do hereby solemnly affirm and state as follows:

1. That I am the Plaintiff in the above-mentioned matter and am well conversant with the facts and circumstances of the case.
2. That the present suit is being filed for {{ matter_subject }} under Section {{ section_number }} of the {{ act_name }}.
3. That the facts stated in the accompanying plaint are true and correct to the best of my knowledge and belief.

DEPONENT

VERIFICATION:
Verified at {{ location }} on this {{ date }}, that the contents of the above affidavit are true and correct.

DEPONENT
