FIRST INFORMATION REPORT
(Under Section 154 Cr.P.C / Section 173 BNSS)

To,
The Officer-in-Charge,
{{ police_station }} Police Station,
{{ district }}, {{ state }}

Date: {{ date }}

Subject: COMPLAINT REGARDING {{ offense_type }}

Sir/Madam,

I, {{ complainant_name }}, son/daughter of {{ father_name }}, resident of {{ address }}, contact number {{ phone }}, do hereby inform you of the following incident:

1. DATE & TIME OF INCIDENT: {{ incident_time }} on {{ incident_date }}
2. PLACE OF OCCURRENCE: {{ incident_location }}
3. DETAILS OF ACCUSED (if known): {{ accused_details }}
4. DESCRIPTION OF INCIDENT:
{{ incident_description }}

I request you to register a First Information Report (FIR) under relevant sections of the Bharatiya Nyaya Sanhita (BNS), including but not limited to Section {{ section_number }}, and initiate immediate investigation.

Yours faithfully,

(Signature)
{{ complainant_name }}
Complainant
